
.navbar{
    background-color: orange;
    padding: 25px;
    
  }

  .centerNav{
    display: flex;
    
    margin: auto;
  }

.logo{
    width: 80px;
    height: 80px;
  }

  .innerLogo{
    height: 120px;
    width: 160px;
  }

  .navlink{
    color: white;
    font-size: 25px;
    margin-right: 30px;
    font-weight:500;
  }

.errors{
    color: red;
    font-size: small;
  }
  

  
.main{
  flex-grow: 1;
  min-height: 500px;
}

.form-row{
  background-color: rgb(246, 252, 255);
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  background-color: orange;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(75, 73, 73);
  height: auto;
}

.div-form{
  border-style: solid;
  border-width: thin;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border-color: rgb(149, 125, 55);
  margin-top: 10px;
  margin-bottom: 10px;
}

.button{
  text-align: center;
  padding: 10px;
  width: 200px;
  background-color: orange;
  border-style: none;
  display: flex;
  margin: auto;
  justify-content: center;
}

.smalltext{
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.error{
  color: red;
  font-size: small;
}
.img{
  width: 200px;

  border-radius: 10px 100px / 120px;
}

.inputcolor{
  background-color: rgb(248, 196, 100);
}

.signupalignment{
  display: flex;
  justify-content: center;
}

.signColor{
  color: orange;
}

.forgetPass{
  font-size: 14px;
  font-weight: bold;
  color: rgb(238, 155, 0);

}


/* your_existing_styles.css */
.square-button {
  background-color: orange !important; 
  border-color: orange !important; 
  color: white !important; 
  width: 300px; 
  height: 220px; 
  border-radius: 10px; 
  
  /* margin: 10px;  */
  
}

.text-center{
  display: flex;
  margin: auto;
  padding: 70px;
  padding-top: 80px;
}

.textcenter{
  /* display: flex; */
  text-align: center;
  padding-top: 60px;
}

.spamkitchen{
  color: orange;
}

.connectionKitchen{
  font-size: 50px;
  font-weight: bold;
}

.addEmployee{
  margin-top: 20px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
}

.cardStyle{
  height: 450px;
  margin-bottom: 60px;
}


/* Update Link */
.updateProduct{
  font-size: 22px;
  font-weight: bold;
  color: rgb(36, 150, 51);
  text-decoration: none;
}


/* Delete Link */
.deleteProduct{
  font-size: 22px;
  font-weight: bold;
  color: rgb(231, 14, 14);
  text-decoration: none;

}

/* Admin Side */
.itemsRow{
  background-color: rgb(234, 176, 68);
  margin: 20px;
  height: 200px;
  border-radius: 10px;
}



.chartRow{
  /* background-color: rgb(234, 176, 68); */
  margin: 20px;
  height: 200px;
  border-radius: 10px;
}


.addProduct{
  font-size: 22px;
  font-weight: bold;
  color: rgb(5, 179, 16);
  text-decoration: none;
  margin-left: 300px;

}


.foot{
  background-color: rgb(234, 176, 68);
}

.chartIcons{
  font-size: 30px;
  color: orange;
  
}


.tableNumber{
  width: 300px;
  background-color: rgb(243, 205, 137);
}


.containerSize{
  height: 600px;
}